.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Menu_block{
  background: #007E3E; /* Цвет фона */
  color: #fff; /* Цвет текста */
  padding: 10px; /* Поля вокруг текста */
  border-radius: 5px; /* Уголки */
}

.Main_Fraim{
  display: grid;
  grid-template-columns: 15% 1fr;
}
.Menu_bar{
  display: grid;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo {
  width: 150px;
  height: 90vh;
  background-color: #FBF2ED;
  border-style: solid;
  border-width: 2px;
  color: #45597E;
}

.task-header {
  display: inline-block;
  background-color: #DBE2F4;
  color: #45597E;
  font-family: sans-serif;
  width:100%;
  height: 30px;
  padding-top: 15px;
  font-weight: bold;
  border-bottom-style: solid;
  border-width: 2px;
}

.droppable {
  position: absolute;
  width: 150px;
  height: 90vh;
  right: 0;
  background-color: #FBF2ED;
  border-style: solid;
  border-width: 2px;
  color: #45597E;
}

.draggable {
  width: 100px;
  height: 80px;
  margin: 15px auto;
  padding-top: 25px;
  border-style: solid;
  border-width: 2px;
  color: #45597E;
  font-family: sans-serif;
  font-weight: bold;
}
